body, h2, h4, h5{
  font-family: 'Josefin Sans', sans-serif;
}
h1, h3{
  font-family: 'Dancing Script', cursive;
}
.btn, button, div[type="button"]{
  outline: none !important;
  border-radius: 0 !important;
  &:active{
    opacity: 0.75;
  }
}
input{
  border-radius: 0 !important;
}
.header{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  h1{
    font-size: 90px;
    letter-spacing: 5px;
  }
}
input{
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#container{
  min-height: 600px;
  margin-top: 30px;
  /*box-shadow: 0 0 100px -30px #e74c3c inset;*/
  background: url("../images/square-bg.png") repeat center center #fff;
  svg{
    height: 600px;
  }
}
.notes{
  h1{
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .list-group-item{
    ul{
      list-style: none;
      h5{
        position: relative;
        left: -23px;
        .glyphicon{
          margin-right: 7px;
        }
      }
    }
  }
  .glyphicon-remove{
    color: #df2e1b;
  }
  .glyphicon-ok{
    color: #00bc8c;
  }
}
